* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Toe-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid red;
  margin: auto;
  gap: 5px;
  width: 285px;
  height: 288px;
  background: blue;
}

.Toe-container button {
  width: 90px;
  height: 90px;
  font-size: 2rem;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btns-container button {
  height: 30px;
  width: 100px;
}