* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.block-container:nth-child(2),
.block-container:nth-child(5),
.block-container:nth-child(8) {
  border-right: 4px solid gold;
  border-left: 4px solid gold;
}

.block-container:nth-child(4),
.block-container:nth-child(5),
.block-container:nth-child(6) {
  border-top: 4px solid gold;
  border-bottom: 4px solid gold;
}

.Toe-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 285px;
  height: 288px;
}

.Toe-container button {
  width: 90px;
  height: 90px;
  font-size: 2rem;
  border: none;
  background-color: transparent;
}

.Toe-container button:disabled {
  border: none;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}